@media screen and (min-width: 641px) {
    header {
        padding: 1.5rem 2rem;
    }

    .header-flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .hamburger,
    .close-nav {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: static;
        height: auto;
        width: auto;
        background: none;
        padding: 0;
        transform: none;
    }

    .nav-menu a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--accent-color);
    }

    .nav-menu a.active,
    .nav-menu a:hover {
        color: #8a4e00;
        border-bottom: 2px solid #8a4e00;
    }

    .hero {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        gap: 2rem;
    }

    .hero-text {
        flex: 1;
    }

    .hero-image {
        flex: 1;
        text-align: right;
    }

    .hero-image img {
        max-width: 350px;
        height: auto;
    }

    .shop-hero h2 {
        font-size: 30px;
        margin-top: 1rem;
        text-align: center;
    }
    
    .shop-hero p {
        font-size: 17px;
        margin-top: 1rem;
        text-align: center;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-hero h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 0.5rem;
    }

    .contact-hero p {
        text-align: center;
        font-size: 15.5px;
    }

    .contact-section {
        flex-direction: row;
    }

    .contact-info, .contact-form {
        flex: 1;
    }

    .contact-info {
        max-width: 40%;
        max-height: fit-content;
    }

    .contact-form {
        max-width: 60%;
    }
    
    .cart-item img {
        width: 70px;
        height: 70px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-container > div {
        flex: 1 1 45%;
    }

    .footer-newsletter form {
        flex-direction: row;
        align-items: center;
    }

    .footer-newsletter input {
        flex: 1;
    }

    .footer-newsletter button {
        margin-left: 0.5rem;
    }
}