@media screen and (min-width: 641px) {
    .discover-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    .discover-card {
        flex-direction: column;
    }

    .discover-card button {
        margin-top: auto;
    }
}